# ===== build 폴더만 예외로 올림 =====
!build/
!build/**

# ===== Gradle =====
.gradle

# ===== 빌드 결과(원래는 무시) =====
build/

# ===== IDEs =====
# STS, Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# 기타 OS/환경
.DS_Store
Thumbs.db

HELP.md
